<header class="py-6 w-full dark:text-white">
  <span></span>
  <nav
    class="flex flex-wrap flex-row justify-center gap-x-10
  w-full"
  >
    <a href="/" class="hover:text-gray-600 dark:hover:text-gray-400"
      >Inicio</a
    >
    <a
      href="#experiencia"
      class="hover:text-gray-600 dark:hover:text-gray-400"
      >Experiencia</a
    >
    <a
      href="#proyectos"
      class="hover:text-gray-600 dark:hover:text-gray-400"
      >Proyectos</a
    >
    <a
      href="#contacto"
      class="hover:text-gray-600 dark:hover:text-gray-400">Contacto</a
    >
  </nav>
</header>
